
img {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
div.links {
  position: absolute;
  left: 0px;
}
.nav-container {
  padding: 2em;
}
.about-container {
  background-color: cadetblue;
  font-family:'Courier New', Courier, monospace;
  padding: 5em;
  width: 800px;
  margin: auto;
}
h1.about {
  color: white;
  border-style: dashed;
}
h2.about {
  color:white;
}
.index-container {
  background-color:khaki;
  font-family:'Courier New', Courier, monospace
}
.sections {
  padding: 50px;
  width: 300px;
  margin: 20px;
  border: 15px solid green;
}