img {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
div.links {
  position: absolute;
  left: 0px;
}
.nav-container {
  padding: 2em;
}